/* https://tailwindcss.com/docs/functions-and-directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: 32 33 36; /* #202124 */
    --color-base-content: 232 234 237; /* #e8eaed */
    --color-neutral: 95 99 104; /* #5f6368 */
    --color-neutral-content: 154 160 166; /* #9aa0a6 */
    --color-accent: 138 180 248; /* #8ab4f8 */

    @media (prefers-color-scheme: light) {
      --color-base: 255 255 255; /* #ffffff */
      --color-base-content: 32 33 36; /* #202124 */
      --color-neutral: 158 158 158; /* #9e9e9e */
      --color-neutral-content: 95 99 104; /* #5f6368 */
      --color-accent: 25 103 210; /* #1967D2 */
    }
  }

  html {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--color-neutral)) rgb(var(--color-neutral / 15%));
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(var(--color-neutral / 15%));
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-neutral));
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:vertical:hover,
  ::-webkit-scrollbar-thumb:horizontal:hover {
    border: 1px solid transparent;
  }

  ::-webkit-scrollbar-thumb:vertical:active,
  ::-webkit-scrollbar-thumb:horizontal:active {
    border: 2px solid rgb(var(--color-neutral));
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

@layer components {
  .swap-fade {
    @apply relative transition-opacity duration-500;
  }

  .swap-fade > :first-child {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity duration-300;
  }

  .swap-fade > :last-child {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-accent opacity-0 transition-opacity duration-300;
  }

  button:has(span.ripple) {
    @apply relative overflow-hidden;
  }

  span.ripple {
    @apply absolute animate-ripple rounded-full bg-accent/20;
    transform: scale(
      0
    ); /* 'scale-0' utility won't work due to its composite nature */
  }
}
